<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    <body>
        <div class="column right" style="background-color:#bbb;">
            <form action="{ %url 'djangoapp:add_review' }" method="post">
                <h8> Write your Feedback! </h8>
                <div class="form-group">
        
                      <div class="mb-3">
                          <label for="name"><b>name: </b></label>
                          <textarea class="form-control" id="name" name="name" rows="1" required></textarea>
                      </div>
        
                      <div class="mb-3">
                        <label for="surname"><b>surname: </b></label>
                        <textarea class="form-control" id="surname" name="surname" rows="1" required></textarea>
                      </div>
        
                      <div class="mb-3">
                        <label for="email"><b>email: </b></label>
                        <textarea class="form-control" id="email" name="email" rows="1" required></textarea>
                      </div>
        
                      <div class="mb-3">
                          <label for="fback"><b>feedback: </b></label>
                          <textarea class="form-control" id="fback" name="fback" rows="1" required></textarea>
                      </div>
        
                </div>
                {% csrf_token %}
                <div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </body>
</html>